#movieList.recommendations {
  display: flex;
  justify-content: flex-start;
}

.movies.recommendationsDiv::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #808080;
  border-radius: 10px;
}

.movies.recommendationsDiv::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

#movieList.recommendations .movie {
  padding: 20px;
}

.movies.recommendationsDiv {
  width: fit-content;
  overflow-x: auto;
  width: calc(100vw - 60px);
}

.recommendationsTitle {
  padding: 1em;
  padding-bottom: 0;
}

.recommendationsContainer {
  border-radius: 20px;
  background-color: #231e27;
  margin-bottom: 1em;
}
