#movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 50px;
  justify-content: center;
}

#search {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #0e0912;
  color: white;
  border: none;
}

#searchDiv::after {
  content: '🔎︎';
  margin-left: -30px;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.buttonDiv {
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
}

.buttonDiv button {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.replacementText {
  margin-top: 2em;
}
