.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: calc(10px + 2vmin);

  --border-radius: 10px;
  --padding-side: 20px;
}

.Header-container > :first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding-left: var(--padding-side);
}

.Link {
  all: inherit;
  font-weight: 700;
  color: white;
  text-decoration: none;
  background-color: #231e27;
  padding: 10px 15px;
  font-size: 0.8em;
}

.Link:hover {
  text-decoration: underline;
  cursor: pointer;
}
