.movie {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 50px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, transparent);
  border-radius: 10px;
}

h2.cardTitle {
  width: min-content;
  min-width: 200px;
  text-align: center;
}

p {
  margin-top: auto;
}

img.cardImage {
  width: 180px;
  height: auto;
  aspect-ratio: 2/3;
  border-radius: 10px;
  transition: 0.5s ease-out;
  transform: scale(1);
  cursor: pointer;
}

img.cardImage:hover {
  transform: scale(1.1);
}
